*
!gradlew
!gradlew.bat
!/gradle
!/gradle/**
!/src/
!/src/**
!/libs/
!/libs/**
!.gitignore
!build.gradle
!Build.jar
!changes.txt
!gradle.properties
!LICENSE
!README.md
!build.bat
!setupClassPath.bat
!setupWorkspace.bat
